.userView {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userViewProfile {
    height: 15rem;
    width: 15rem;
    background-color: rgb(167, 167, 167);
    border-radius: 50%;
    margin-bottom: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #000000;
    font-size: 2.5rem;
}

.userViewTitle {
    font-size: 1.1rem;
    line-height: 90%;
}

.userViewProfession {
    font-size: .9rem;
    margin-bottom: 1rem;
}

.userViewDescription {
    text-align: center;
    margin-bottom: 2rem;
}

.userViewStatus {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1.5rem;
}

.userViewStatusContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userViewStatusContentNumber {
    font-size: 1.3rem;
    line-height: 90%;
}

.userViewStatusContentText {
    font-size: .7rem;
}

.userViewButton {
    width: 100%;
    border-radius: var(--sec-br);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: #000000;
    padding: .8rem;
    text-decoration: none;
    font-size: .9rem;
}