@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@400;700;900&display=swap');

:root {
  --title-font: 'Anton', sans-serif;
  --main-font: 'Poppins', sans-serif;
  --main-br: 20px;
  --sec-br: 10px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

