.userPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    padding: 1rem 2rem;
    gap: 1rem;
    padding-bottom: 0rem;
}

.userPageContent {
    display: flex;
    width: 100%;
    height: 85%;
    justify-content: space-between;
}

.userPageContentVid {
    width: 60%;
    background-color: rgb(187, 187, 187);
    border-radius: 10px 10px 0px 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem;
    padding-top: 2.5rem;
    overflow: auto;
    gap: 2rem;
}

.userPageContentVidSelect {
    display: flex;
    align-items: center;
    gap: 1rem;
}